font_family Hack
{{- if eq .chezmoi.hostname "helix" }}
font_size 13
{{- else }}
font_size 10
{{- end }}
cursor_shape block
cursor_stop_blinking_after 10
shell_integration enabled no-cursor
enable_audio_bell no
background_opacity 0.95
window_padding_width 20
include macchiato.conf
