#!/bin/sh

userresources="$XDG_CONFIG_HOME"/X11/Xresources
usermodmap="$XDG_CONFIG_HOME"/X11/Xmodmap
sysresources=/etc/X11/xinit/Xresources
sysmodmap=/etc/X11/xinit/Xmodmap


# merge in defaults and keymaps

if [ -f $sysresources ]; then
    xrdb -merge $sysresources
fi

if [ -f $sysmodmap ]; then
    xmodmap $sysmodmap
fi

if [ -f "$userresources" ]; then
    xrdb -merge "$userresources"
fi

if [ -f "$usermodmap" ]; then
    xmodmap "$usermodmap"
fi

# start some nice programs

if [ -d /etc/X11/xinit/xinitrc.d ] ; then
 for f in /etc/X11/xinit/xinitrc.d/?*.sh ; do
  [ -x "$f" ] && . "$f"
 done
 unset f
fi

{{ if eq .chezmoi.hostname "helix" -}}
xinput set-prop 11 285 1 &
xinput set-prop 11 305 1 &
{{- else if eq .chezmoi.hostname "triangulum" }}
xinput set-prop 10 306 1 &
{{- else if eq .chezmoi.hostname "hydrus" }}
xrandr --output DisplayPort-0 --mode 1920x1080 --rate 144.00 --output DisplayPort-1 --mode 1920x1080 --rate 60.00 &
xset m 10/10 100 r rate 500 30 b on &
numlockx on &
{{- end }}
xsetroot -cursor_name left_ptr &
exec dbus-run-session bspwm

