* {
	background-image: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
  color: #d8caac;
	background-color: #323d43;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
  background-size: 40%;
}

/* button:focus, */
button:active, button:hover {
	background-color: #6eb2a9;
	outline-style: groove;
}

#lock {
    background-image: url("/usr/share/wleave/icons/lock.svg"), url("/usr/local/share/wleave/icons/lock.svg");
}

#logout {
    background-image: url("/usr/share/wleave/icons/logout.svg"), url("/usr/local/share/wleave/icons/logout.svg");
}

#suspend {
    background-image: url("/usr/share/wleave/icons/suspend.svg"), url("/usr/local/share/wleave/icons/suspend.svg");
}

#hibernate {
    background-image: url("/usr/share/wleave/icons/hibernate.svg"), url("/usr/local/share/wleave/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/usr/share/wleave/icons/shutdown.svg"), url("/usr/local/share/wleave/icons/shutdown.svg");
}

#reboot {
    background-image: url("/usr/share/wleave/icons/reboot.svg"), url("/usr/local/share/wleave/icons/reboot.svg");
}
